* {
    margin: 0px;
    padding: 0px;
    font-family: fantasy;
}
h1, h2 {
    margin: 3%;
}
.field {
    display: flex;
    flex-direction: column;
    margin: 0px 2%;
}
label {
    font-size: 20px;
    margin: 1%;
}
.textarea {
    height: 500px;
}
button {
    font-size: 20px;
    width: 20%;
    margin: 3% 0px;
}
.topics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li {
    list-style: none;
    border: black 1px solid;
}
.sentMessagesList {
    margin: 3%;
}